</h1>
<div>
  <form method="post" action="/login">
    <p>
      <label>Username:</label>
      <input type="text" name="username" id="username">
    </p>
    <p>
      <label>Password:</label>
      <input type="text" name="password" id="userpass">
    </p>
    <p>
<!--      <input type="submit" value="Login">  -->
      <button type="submit">Submit</button>

      <!--<button type="submit" value="Login">Submit</button>
    </p>
  </form>
</div>

<!--
          h1= title
          div
          form(action='/autenticar', method='post')
            label(for='txtUsuario')
              input(type='text',id='txtUsuario',name='txtUsuario',placeholder='usuario')
            label(for='txtClave')
              input(type='password',id='txtClave',name='txtClave',placeholder='usuario')
          button(type='submit') Ingresar
-->
